{% extends "template.html" %}

{% load staticfiles %}

<h5>Powiadomienia</h5>
{% for due_user, due_amounts in dues.items %}
    <div class="card">
      <div class="card-header">
        <div style="float:left;">
          <p class="card-text" >{{ due_user }}</p>
        </div>
      </div>
    {% for funds_id, amount in due_amounts.items %}
    <div class="card-body">
      <div style="float:left;"><p class="card-text" >{{ amount }}zl</p></div>
      <div style="float:right;">
        <a href="/funds/{{ funds_id }}" class="btn btn-primary">Skladka</a>
        <a href="#" class="btn btn-primary">Powiadom</a>
      </div>
    </div>
    {% endfor %}
    </div>
{% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if history_funds.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ history_funds.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ history_funds.number }} of {{ history_funds.paginator.num_pages }}.
    </span>

    {% if history_funds.has_next %}
      <a href="?page={{ history_funds.next_page_number }}">next</a>
      <a href="?page={{ history_funds.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>